.static-header, .main-header, footer {
  background-image: url(images/header-bg-olympic.png);
  overflow: hidden; }

.portfolio-header {
  position: relative;
  background-size: cover;
  min-height: 40px;
  height: 40px; }

.is-compact .portfolio-header {
  min-height: 40px;
  height: 40px; }

.mdl-card__media {
  background-color: transparent; }

.mdl-layout__header {
  background-color: transparent; }

.mdl-mini-footer {
  background-color: transparent; }

.portfolio-title {
  visibility: visible;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 10px; }

.mdl-layout__header.is-compact {
  min-height: 40px;
  height: 40px; }

.main-header {
  position: relative;
  background-size: cover; }

.main-title {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #a7d2c9; }

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: left;
  height: 40px; }

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  color: #000000; }

.mdl-card__title-text {
  min-height: 24px; }

.is-compact .mdl-layout__title span {
  display: none; }

.portfolio-logo-row {
  min-height: 40px; }

.is-compact .portfolio-logo-row {
  min-height: auto;
  height: 0px;
  visibility: hidden; }

.portfolio-logo {
  background: url(images/ProfilePhoto.png) 50% no-repeat;
  background-size: cover;
  margin: auto auto 10px; }

a.fa.falink {
  color: white;
  text-decoration: none; }

@media screen and (min-width: 640px) {
  .portfolio-logo {
    background-size: cover;
    height: 40px;
    width: 40px;
    margin: 10px auto 10px; } }
.is-compact .portfolio-logo {
  height: 50px;
  width: 200px;
  margin-top: 7px; }

.portfolio-navigation-row {
  text-transform: uppercase;
  z-index: 999; }

.portfolio-navigation-row .mdl-navigation {
  text-align: center; }

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 42px; }

.portfolio-header .mdl-layout__drawer-button {
  background-color: #add5e3;
  width: 40px;
  height: 30px;
  font-size: 25px;
  line-height: 40px; }

.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: bold; }

.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 5px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #5b9c98;
  left: 15%; }

.floater {
  float: right;
  width: 170px;
  padding: 20px 20px 10px 0; }

.portfolio-card .mdl-card__title {
  padding-bottom: 0; }

.portfolio-blog-card-full-bg {
  background: url(images/example-blog03.jpg) center/cover; }

.portfolio-blog-card-event-bg {
  background: url(images/example-blog05.jpg) center/cover; }

.portfolio-blog-card-strip-bg {
  background: url(images/example-blog06.jpg) center/cover; }

.portfolio-blog-card-compact .mdl-card__title {
  padding-bottom: 0; }

.portfolio-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2); }

img.article-image {
  width: 100%;
  height: auto; }

.portfolio-max-width {
  max-width: 900px;
  margin: auto; }

.portfolio-copy {
  max-width: 700px;
  display: block; }

.no-padding {
  padding: 0; }

.no-left-padding {
  padding-left: 0; }

.no-bottom-padding {
  padding-bottom: 0; }

.padding-top {
  padding: 10px 0 0; }

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px; }

.demo-card-event > .mdl-card__actions {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.portfolio-contact .mdl-textfield {
  width: 100%; }

.portfolio-contact form {
  max-width: 550px;
  margin: auto; }

footer {
  background-size: cover; }

.section--center, .section--image-block {
  border-color: #dcedf3;
  background-color: #dcedf3; }

.section--center {
  margin: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-width: 1px;
  border-style: solid; }

.section--title-image {
  width: 150px;
  height: 150px;
  display: block;
  /* border-style:solid; */
  /* border-width:1px; */
  /* border-color:black; */
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

p {
  font-weight: 200;
  font-size: 1.0em; }

canvas {
  background-color: #dcedf3;
  overflow: hidden;
  z-index: 0;
  height: 41px;
  width: 100%;
  top: 0;
  /*border-bottom:1px solid rgba(0, 0, 0, .2);*/ }

.thanksto {
  left: 0;
  top: 0;
  color: #9e9e9e;
  position: relative;
  vertical-align: top;
  display: inline-block; }

.thanksto .disappear {
  left: 0.3em;
  position: absolute;
  opacity: 0 !important;
  transition: all 0.2s ease-out !important;
  -webkit-transition: all 0.2s ease-out !important; }

.thanksto .appear {
  left: 0;
  position: absolute;
  opacity: 1 !important;
  transition: all 0.2s ease-out !important;
  -webkit-transition: all 0.2s ease-out !important; }

.project-img {
  filter: sepia(100%);
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -o-filter: sepia(100%);
  -ms-filter: sepia(100%);
  transition: filter        2s ease-out;
  -webkit-transition: -webkit-filter        2s ease-out;
  -moz-transition: -moz-filter        2s ease-out;
  -o-filter: -o-filter        2s ease-out;
  -ms-filter: -ms-filter        2s ease-out; }

.project-img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  transition: filter 2s ease-out;
  -webkit-transition: -webkit-filter 2s ease-out;
  -moz-transition: -moz-filter 2s ease-out;
  -o-filter: -o-filter 2s ease-out;
  -ms-filter: -ms-filter 2s ease-out; }

.portfolio-background {
  background-image: url(images/header-bg-olympic.png);
  background-size: cover;
  background-color: #dcedf3;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  height: 41px;
  width: 100%;
  top: 0;
  opacity: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.portfolio-background-disappear {
  opacity: 0 !important;
  transition: opacity 1s ease-out !important; }

.image-caption {
  color: light-grey;
  text-align: center; }

.non-shadow {
  border-style: solid;
  border-color: #f1f1f1;
  border-width: 4px; }

.non-shadow-thick {
  border-style: solid;
  border-color: #f1f1f1;
  border-width: 8px; }

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Open Sans", Helvetica, Georgia, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

.social-media-list .icon {
  padding-right: 5px; }
.social-media-list li + li {
  padding-top: 5px; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 54px; }
  .site-nav .nav-trigger {
    display: none; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg path {
          fill: #424242; }
      .site-nav input ~ .trigger {
        clear: both;
        display: none; }
      .site-nav input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  overflow-y: scroll; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
